
<div>
    <h1>{{activity.title}}</h1>
    <p>{{activity.description}}</p>
    <p><b>Amenity:</b>{{activity.amenity}}</p>
    <p><b>Instructor:</b>{{activity.instructor}}</p>
    <p><b>Day:</b>{{activity.date}}</p>
    {{!-- //???? como es aca --}}
    <p><b>Time:</b>{{activity.date}}</p>
    {{!-- VER COMO HACER ESTO --}}
    <p><b>Places left:</b>`${amenities.capacity}-{{activity.usuarios.usersJoined.length}}</p>  
    <P><b>Reviews: </b></P>
    {{!-- show partials of comments --}}
</div> 

 {{!-- hacer un #if si esta login y si de hecho es un instructor --}}
  {{!-- esto no deberia estar en esta pag --}} <a href="forusers/activity-edit">EDIT</a>



{{!----------------------------------editarrrrrrrrr --}}

    <h1>{{activity.title}}</h1>
    <h3>Description:</h3>
    <p>{{activity.description}}</p>

    <a href="/user/activity/{{this.id}}/edit">EDIT</a>
