<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <!-- para agregar el favicon 
    <link rel="shortcut icon" type="image/png" href="images/title-img.png">
    -->
    <!-- bootstrap 4 css 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    <!-- íconos fontawesome 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    -->
  
    <title>IronClub</title>
  </head>

  <body>
    <header>
      <nav  class="navbar-top">
        <div id="btn-back">
          <a class="navbar-icontitle" href="/">
            <img class="navbar-icon" src="../images/icon-back.png">
          </a>
        </div>
        <div>
          {{#if isUserLoggedIn}}
          <p> Hello, {{ currentUserInfo.name }}. </p>
        </div>
         
          <div class="navbar-texticon">
            <a class="navbar-icontitle" href="/logout">
              <p class="navbar-title">Log out</p>
            </a>
          </div>
                   


          {{/if}}
        </div>
        <div id="logo">
          <a class="navbar-icontitle" href="/">
            <img class="navbar-icon" src="../images/logo-ironclub.png">
          </a>
        </div>
      </nav>

      <nav class="navbar-bottom">
          <div class="" id="nav">
              <ul class="navbar-nav">
                {{#if isUserLoggedIn}}      
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/">
                        <img class="navbar-icon" src="../images/icon-home.png">
                        <p class="navbar-title" >Home</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                        <a class="navbar-icontitle" href="/faq">
                          <img class="navbar-icon" src="../images/icon-info.png">
                          <p class="navbar-title">FAQ</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                        <a class="navbar-icontitle" href="/activity-calendar">
                        <img class="navbar-icon" src="../images/icon-calendar.png">
                        <p class="navbar-title">Activities</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/amenities">
                        <img class="navbar-icon" src="../images/icon-amenities.png">
                        <p class="navbar-title">Amenities</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/user/profile">
                        <img class="navbar-icon" src="../images/icon-user.png">
                        <p class="navbar-title">Profile</p>
                      </a>
                    </div>
                  </li>  
                  
    {{!-- faltaria hacer un deplegable con log out --}}
    {{!-- <li class="nav-item"><a class="" href="/logout">Log out</a></li>  --}}
                    
                  </div></li>
                 {{else}}
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/">
                        <img class="navbar-icon" src="../images/icon-home.png">
                        <p class="navbar-title" >Home</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                        <a class="navbar-icontitle" href="/faq">
                          <img class="navbar-icon" src="../images/icon-info.png">
                          <p class="navbar-title">FAQ</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                        <a class="navbar-icontitle" href="/activity-calendar">
                        <img class="navbar-icon" src="../images/icon-calendar.png">
                        <p class="navbar-title">Activities</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/amenities">
                        <img class="navbar-icon" src="../images/icon-amenities.png">
                        <p class="navbar-title">Amenities</p>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="navbar-texticon">
                      <a class="navbar-icontitle" href="/login">
                        <img class="navbar-icon" src="../images/icon-user.png">
                        <p class="navbar-title">User</p>
                      </a>
                    </div>
    {{!-- faltaria hacer un deplegable con signup --}}
    {{!-- <li class="nav-item"><a class="" href="/signup">Sign Up</a></li>  --}}
                   
                    
                  </div></li>
                {{/if}}

              </ul>
          </div>
      </nav>
    </header>
    
    <main>
      {{#if isUserLoggedIn}}
        <p> Hello, {{ currentUserInfo.name }}. </p>
      {{/if}}

       <title>{{title}}</title>
          {{{body}}}
    </main>
  </body>
</html>










{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html> --}}