<img src="{{currentUserInfo.profilepic}}">
{{!-- asegurarsr en la ruta el nombre de "user" --}}
<h1>{{currentUserInfo.name}}</h1>
<h3>Email:</h3>
<h2>{{currentUserInfo.email}}</h2>
<h3>Age:</h3>
<h2>{{currentUserInfo.age}}</h2>
<h3>Instructor</h3>
{{!-- chequiar esta comprobacion --}}
{{#if currentUserInfo.instructor:true}} 
    <h2>Yes</h2>
{{else}}
    <h2>No</h2>
{{/if}}
{{!-- hay que chequear el "this.name" porque no sabemos cual es --}}
<div class="btn-profile-container">
    <form action="/user/{{this._id}}/delete" method="POST">
    <button type="submit" class="btn-profile">DELETE</button>
    </form>
    <form action="/user/edit" method="GET">
    <button type="submit" class="btn-profile">EDIT</button>
    </form>
</div>
<div>
    <a class="btn-profile" href="/user/activity-listing">See all activities</a>
</div>
<div>
    <a class="btn-profile" href="/user/new-activity">Create an activity</a>
</div>
