
<div class="activity-detail">
    <img class="activity-pic" src="{{user.profilepic}}">
    <div>
        <p class="card-title">{{user.name}}</p>
        <p><b>Email: </b>{{user.email}}</p>
        <p><b>Age: </b>{{user.age}}</p>
      {{#if user.instructor}} 
          <a class="btnform-link" href="/user/new-activity">Create an activity</a>
      {{else}} 
        <p>Become an <a href="/user/edit-profile">Instructor.</a></p>
      {{/if}}
    </div>
    <div class="btnprofile-cont">
      <form action="/user/edit-profile" method="GET">
        <button class="btnform-edit" type="submit" class="btn-profile">EDIT</button>
      </form>
      <form action="/user/delete" method="POST">
        <button class="btnform-delete" type="submit" class="btn-profile">DELETE</button>
      </form>
    </div>
</div>

<!--CREATED ACTIVITIES-->

{{#if user.instructor}} 

  {{> isInstructor }}

{{/if}}


<h3>RESERVED ACTIVITIES</h3>
<div class="superbigbox">
{{#each user.reservAct}} 
  <div class="activity-detail">
      <img class="activity-pic" src="{{activitypic}}">
      <div>
          <a class="card-title" href="/user/activity/{{this.id}}">{{title}}</a>
          <p><b>Instructor:</b>{{instructor}}</p>
          <p><b>Day:</b>{{date}}</p>
          <p><b>Time:</b>{{time}}</p>
        <div class="">
          <form action="/user/activity/{{_id}}/book-activity-delete" method="POST">
            <button class="btnform-card" type="submit" class="btn-profile">DELETE</button>
          </form>
        </div>
      </div>
  </div>
{{/each}}
</div>
















